@import "./mixin";

//#d9fd00
//rgb(255, 94, 94);
.opacity-off{opacity: 0;}
.opacity-on{opacity: 1;}

.About{
  padding: 5rem 0;
  .about-tit{
    font-size: 12rem;
    font-weight: 600;
    -webkit-text-stroke: 1px var(--back-white);
    -webkit-text-fill-color: transparent;
    text-align: right;
    animation: intro-right .6s ease;
    transition: .4s;
    .me{
      display: block;
      font-family: inherit;
      font-weight: inherit;
      font-size: inherit;
      position: relative;
      &::before{
        @include gradient(-5px, -5px, var(--text-green), 'ME');
      }
    }
  }
  //info tab
  .info{
    margin-top: -1rem;
    position: sticky;
    top: 10rem;
    animation: intro-left .6s ease;
    .info-nav{
      margin-bottom: 3rem;
      position: absolute;
      left: 0; top: -4rem;
      .info-href{
        margin-right: 20px;
        color: var(--text-green);
        cursor: pointer;
        font-size: 1.1rem;
        font-weight: 300;
        &:hover{
          color: rgb(255, 94, 94);;
        }
      }
    }
    .info-list{
      font-size: 1.2rem;
      margin-top: 15px;
      &:first-child{
        margin: 0;
      }
      &.info-title{
        font-size: 1.5rem;
      }
      .info-tit{
        font-size: inherit;
        font-weight: 500;
        margin-right: 15px;
      }
      .info-cont{
        font-size: inherit;
        font-weight: 300;
      }
    }
  }
  //contents tab
  .content-wrap{margin-top: 500px}
  .contents{
    margin-top: 100px;
    height: 30rem;
    position: sticky;
    top: 25rem;
    transition: .4s;
    &.cont1{
      display: flex;
      flex-direction: column;
      align-items: flex-start;

    }
    &.cont2{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &.cont3{
      display: flex;
      flex-direction: column;
      align-items: end;
    }
    .contents-tit{
      font-size: 1.5rem;
      font-weight: 500;
      &.mrt{
        margin-top: 20px;
        display: inline-block;
      }
    }
    .contents-list{
      font-size: 1.5rem;
      margin-top: 20px;
      width: 300px;
      &:first-child{
        margin: 0;
      }
      .contents-title{
        font-family: "BlackHanSans";
        -webkit-text-stroke: 1px var(--back-white);
        -webkit-text-fill-color: transparent;
        font-size: 5rem;
        position: relative;
        &.careers::before{
          @include gradient(-5px, -5px, var(--text-green), 'Careers');
        }
        &.awards::before{
          @include gradient(-5px, -5px, var(--text-green), 'Awards');
        }
        &.ability::before{
          @include gradient(-5px, -5px, var(--text-green), 'Ability');
        }
      }
      .contents-sub{
        font-size: 1rem;
        margin: 10px 0;
        &.bar{
          width: 100%;
          height: 10px;
          border-radius: 5px;
          border: 1px solid var(--back-white);
          .bar-inner{
            height: 100%;
            background: var(--back-white);
            border-radius: inherit;
          }
        }
      }
      //ability percent
      &:nth-of-type(2) .contents-sub.bar .bar-inner{width: 70%;} //react
      &:nth-of-type(3) .contents-sub.bar .bar-inner{width: 70%;} //js
      &:nth-of-type(4) .contents-sub.bar .bar-inner{width: 80%;} //scss
      &:nth-of-type(5) .contents-sub.bar .bar-inner{width: 90%;} //html

      .contents-date{
        font-size: .8rem;
        font-weight: 300;
        text-align: right;
      }
      span{display: block;}
    }
  }
}

