@import './mixin.scss';

body{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  @include scrollbars(.5vw, var(--text-green), var(--back-black))
}
.inner{
  padding: 0 7vw;
}
.mode{
  position: fixed;
  right: 2rem;
  top: 2rem;
  font-size: 1rem;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  color: var(--back-white);
  z-index: 999;
  .mode-icon{
    font-size: 14px;
    margin-right: 5px;
    color: inherit;
  }

}
.nav-tab{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--nav-black);
  position: fixed;
  left: 50%; bottom: 2rem;
  transform: translateX(-50%);
  border-radius: 50px;
  .tab{
    font-size: 1.1rem;
    text-align: center;
    cursor: pointer;
    margin: 7px; padding: 15px;
    border-radius: 50px;
    letter-spacing: -.5px;
    color: var(--nav-white);
    &.active{
      background: var(--nav-white);
      color: var(--nav-active-black);
    }
  }
}

.contactKakao{
  position: fixed;
  right: 5rem; bottom: 2.5rem;
  border: 1px solid #f00;
  .cont-off{
    background: var(--back-white);
    width: 40px; height: 40px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    .cont-kakao-ic{
      position: absolute;
      left: 50%; top: 50%;
      transform: translate(-50%, -50%);
      color: var(--back-black);
      animation: kakao-ic .4s forwards ease-in;
      path{color: inherit;}
    }
  }
}