@import './mixin.scss';

body{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  @include scrollbars(.5vw, var(--text-green), var(--back-black))
}
.inner{
  padding: 0 7vw;
}
.mode{
  position: fixed;
  right: 2rem;
  top: 2rem;
  font-size: 1rem;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  color: var(--back-white);
  z-index: 999;
  .mode-icon{
    font-size: 14px;
    margin-right: 5px;
    color: inherit;
  }

}
.nav-tab{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--nav-black);
  position: fixed;
  left: 50%; bottom: 2rem;
  transform: translateX(-50%);
  border-radius: 50px;
  .tab{
    font-size: 1.1rem;
    text-align: center;
    cursor: pointer;
    margin: 7px; padding: 15px;
    border-radius: 50px;
    letter-spacing: -.5px;
    color: var(--nav-white);
    &.active{
      background: var(--nav-white);
      color: var(--nav-active-black);
    }
  }
}

.contactKakao{
  position: fixed;
  right: 5rem; bottom: 2.5rem;
  .cont-off{
    background: var(--back-white);
    width: 50px; height: 50px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    z-index: 5;
    &.animate{
      animation: kakao-icon 5s forwards infinite ease-in-out;
    }
    .cont-kakao-ic{
      font-size: 20px;
      position: absolute;
      left: 50%; top: 50%;
      transform: translate(-50%, -50%);
      color: var(--back-black);
      animation: kakao-ic .4s forwards ease-in;
      path{color: inherit;}
    }
  }
  .qr-area{
    width: 150px; height: 200px;
    background: var(--back-white);
    position: absolute;
    left: 50%; bottom: 25px;
    transform: translateX(-50%);
    z-index: 3;
    border-radius: 10px;
    padding: 10px;
    animation: kakao-ic .4s forwards ease-in;
    .qr-inner{
      width: 100%;
      padding: 5px;
      border: 3px solid var(--back-black);
      border-radius: 10px;
      img{width: 100%}
    }
    .qr-text{
      color: var(--back-black);
      display: block;
      text-align: center;
      margin-top: 15px;
      font-weight: 600;
    }
  }
}