body{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.inner{
  padding: 0 4vw;
}
.mode{
  position: fixed;
  right: 2rem;
  top: 2rem;
  font-size: 1rem;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  color: var(--back-white);
  .mode-icon{
    font-size: 14px;
    margin-right: 5px;
    color: inherit;
  }
}
.nav-tab{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--nav-black);
  position: fixed;
  left: 50%; bottom: 2rem;
  transform: translateX(-50%);
  border-radius: 50px;
  .tab{
    font-size: 1.1rem;
    text-align: center;
    cursor: pointer;
    margin: 7px; padding: 15px;
    border-radius: 50px;
    letter-spacing: -.5px;
    color: var(--nav-white);
    &.active{
      background: var(--nav-white);
      color: var(--nav-active-black);
    }
  }
}

