@import "./mixin";

.content{
  padding: 10vw 0 0;
}
.woodie{
  font-family: "BlackHanSans";
  font-size: 10rem;
  color: var(--back-white);
  animation: intro-left .6s ease;
}
.my-name{
  font-family: "BlackHanSans";
  -webkit-text-stroke: 1px var(--back-white);
  -webkit-text-fill-color: var(--back-black);
  font-size: 10rem;
  text-align: right;
  font-weight: 500;
  animation: intro-right .6s ease;
}
