
//겹치는 title
@mixin gradient($left, $right, $color, $text) {
  content: $text;
  display: inline-block;
  width: 100%;
  -webkit-text-stroke: 1px $color;
  position: absolute;
  left: $left; top: $right;
  z-index: -1;
}