//scrollbar custom
@mixin scrollbars($size, $foreground-color, $background-color){
  &::-webkit-scrollbar{
    width: $size;
    height: $size;
  }
  &::-webkit-scrollbar-thumb{
    background: $foreground-color;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track{
    background: $background-color;
  }
}

//겹치는 title
@mixin gradient($left, $right, $color, $text) {
  content: $text;
  display: inline-block;
  width: 100%;
  -webkit-text-stroke: 1px $color;
  position: absolute;
  left: $left; top: $right;
  z-index: -1;
}