//scrollbar custom
@mixin scrollbars($size, $foreground-color, $background-color){
  &::-webkit-scrollbar{
    width: $size;
    height: $size;
  }
  &::-webkit-scrollbar-thumb{
    background: $foreground-color;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track{
    background: $background-color;
  }
}

//공통 title
@mixin gradient($left, $right, $color, $text) {
  content: $text;
  display: inline-block;
  width: 100%;
  -webkit-text-stroke: 1px $color;
  position: absolute;
  left: $left; top: $right;
  z-index: -1;
}

//animation
@keyframes intro-right {
  0%{transform: translateX(100%)}
  100%{transform: translateX(0)}
}
@keyframes intro-left {
  0%{transform: translateX(-100%)}
  100%{transform: translateX(0)}
}
@keyframes kakao-ic {
  0%{opacity: 0}
  100%{opacity: 1}
}
@keyframes kakao-icon {
  0%{transform: translateY(0);}
  4%{transform: translateY(-80%);}
  8%{transform: translateY(0);}
  12%{transform: translateY(-80%);}
  16%{transform: translateY(0);}
  100%{transform: translateY(0);}
}