@import "./mixin";

//contents tab
.Project{
  padding-top: 120px;
  width: 60vw;
  margin: 0 auto;
  position: relative;
  .back-title{
    width: 65vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 50%; top: 10%;
    transform: translateX(-50%);
    span{
      font-family: "BlackHanSans";
      opacity: .15;
      font-size: 8rem;
    }
  }
  .contents-head{
    text-align: center;
    .contents-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      span{
        display: inline-block;
        font-size: 5rem;
      }
    }
  }
  .contents {
    //display: grid;
    //grid-template-columns: repeat(3, 1fr);
    //grid-column-gap: 10%;
    margin-top: 50px;
    .contents-list {
      font-size: 1.5rem;
      margin: 30px 20px;
      padding: 5px;
      border-radius: 10px;
      width: 270px;
      border-bottom: 1px solid transparent;
      transition: .4s;
      &.dragging{
        background: rgba(119, 119, 119, 1);
      }
      &:hover{
        border-bottom: 1px solid rgb(255, 94, 94);
        .contents-tit{
          color: var(--text-green);
        }
        .contents-sub{
          color: var(--text-green);
        }
      }
      span{
        display: block;
      }
      .contents-tit {
        font-size: 1.5rem;
        font-weight: 500;
      }
      .contents-sub {
        font-size: 1rem;
        margin: 10px 0;
      }
      .contents-date{
        font-size: .8rem;
        font-weight: 300;
        text-align: right;
      }
    }
  }
}
